/*  --------- DEFAULT: 1051px (...AND UP) to 1449px and 1601px PLUS --- Normal coding BEGINS */
footer {
  margin: 0 auto 8.18181818% auto; width: 100%; background: transparent; text-shadow: .125em .1875em .1875em #71A7EA; -moz-text-shadow: .125em .1875em .1875em rgba(113,167,234,0.8); -webkit-text-shadow: .125em .1875em .1875em rgba(113,167,234,0.8); color: rgb(63, 120, 198); text-align: center; 
}

p#profess { padding-top: 3.1944423%; padding-right: 0; padding-bottom: 0%; padding-left: 0; width: 100%; font: 80%/1.5 Arial, Helvetica, sans-serif; }
/*  --------- DEFAULT: 1051px to 1449px and 1601px AND UP ------- Normal coding ENDS here  */

/* ------------------ Responsive Design Media Queries START here  --------------    */

/*  ----- 768px to 1050px-----  */
@media (max-width: 1050px) {
}

/*  ----- 356px to 767px-----  */
@media (max-width: 767px) {
  footer { padding: 0 5.454545% 8.18181818% 5.454545%; width: 89.09090909%; background: transparent; text-shadow: .125em .1875em .1875em #71A7EA; -moz-text-shadow: .125em .1875em .1875em rgba(113,167,234,0.8); -webkit-text-shadow: .125em .1875em .1875em rgba(113,167,234,0.8); color: rgb(63, 120, 198); }

  p#profess { padding-top: 3.1944423%; padding-right: 6.25%; padding-bottom: 0%; padding-left: 6.25%; width: 80%; font: 80%/1.5 Arial, Helvetica, sans-serif; }
} 

/*  ----- 240px to 355px-----  */
@media (max-width: 355px) {
  p#profess { padding-top: 3.1944423%; padding-right: 0; padding-bottom: 3.1944423%; padding-left: 0%; width: 100%; }
} 

/* ------------------ Responsive Design Media Queries END here  --------------    */