/*  --------- DEFAULT: 1051px (...AND UP) to 1449px and 1601px PLUS --- Normal coding BEGINS */
div#disburser { margin: 0 0 0 0; width: 100%; background: transparent; }
form#forecaster { background: rgba(255,255,255,.6); margin: 0% 9.5238095% 0% 16.1904761%; width: 74.2857144%; }

fieldset.fold { border: .063em solid rgb(83,148,228); overflow: hidden; padding-top: 1.25%; padding-right: 1.25%; padding-bottom: 1.25%; padding-left: 1.25%; margin-top: 0; margin-right: 1.25%; margin-bottom: .625%; margin-left: 1.25%; background: transparent; }
legend.lofty { text-transform: capitalize; font: 80%/1.5 Arial, Helvetica, sans-serif; padding: 0.875% 1.5% 2.25% 1.5%; }
p.paraphrase { color: rgb(63, 120, 198); font: 90%/1.5 Arial, Helvetica, sans-serif; padding: 0.25% 1.5% 0.25% 4.5%; width: 94%; }

label.leftHinge { display: block; padding: 1.889080459% 0 2.471264367% 0; float: left; width: 15%; text-align: right; font: 100%/1.0; }
span.spumoni { display: block; padding-bottom: 4.25%; margin-right: 40%; font-size: 125%; text-transform: capitalize; }

div#developer { 
  overflow: hidden; 
  border-radius: .563em .563em .563em .563em; 
  box-shadow: .063em .063em .688em #330033; 
  background: rgb(83,148,228) url("../assets/layout/newArrow.gif") no-repeat scroll 98% 34%; 
  float: left; width: 80%; margin: 1.59% 0 1.59% 0; 
}

select#WhenTheLightsGoDownInThe { border: none; color: rgb(11,36,68); background: transparent; font-size: 125%; font-weight: bold; padding: 0.45% 1.65%; width: 110%; }
select#WhenTheLightsGoDownInThe { -webkit-appearance: none; }
select#WhenTheLightsGoDownInThe { background-image: -o-linear-gradient(top, #5394E4 22%, #5394E4 44%, #5394E4 55%, #5394E4 77%); }

div#positioning { 
  overflow: hidden; 
  border-radius: .563em .563em .563em .563em; 
  box-shadow: .063em .063em .688em #330033; 
  background: rgb(83,148,228) ; 
  float: left; 
  max-width: 260px; 
  margin: 1.59% 0 1.59% 20%;
}

/* TODO ~ make a chromed button with lovehate actions included in it */
button#geolo { 
  border: none; color: rgb(11,36,68); 
  background: transparent; font-size: 125%; font-weight: bold; padding: 0.45% 1.65%; 
  width: 100%; 
}
button#geolo { -webkit-appearance: none; }


section#sourceOut { background: transparent; width: 100%; margin: 0; }
/*  --------- DEFAULT: 1051px to 1449px and 1601px AND UP ------- Normal coding ENDS here  */

/* ------------------ Responsive Design Media Queries START here  --------------    */

/* ----- 768px to 1050px-----  */
@media (max-width: 1050px) {
}

/* ----- 356px to 767px-----  */
@media (max-width: 767px) {
  div#disburser { margin: 0 5.454545% 0 5.454545%; width: 89.09090909%; background: transparent; }
  form#forecaster { background: rgba(255,255,255,.6); width: 95%; margin: 0% 3.75% 0% 1.25%; }

  fieldset.fold { border: .063em solid rgb(83,148,228); overflow: hidden; padding-top: 1.25%; padding-right: 1.25%; padding-bottom: 1.25%; padding-left: 1.25%; margin-top: 0; margin-right: 1.25%; margin-bottom: .625%; margin-left: 0%; background: transparent; }
  legend.lofty { text-transform: capitalize; font: 80%/1.5 Arial, Helvetica, sans-serif; padding: 0 1.5% 2.25% 1.5%; }

  label.leftHinge { display: block; padding: 0.0825% 0 0.4125% 0; width: 100%; text-align: left; font: 90%/1.5; }
  span.spumoni { display: block; padding: .25% 0 .25% 0; text-transform: capitalize; }

  div#developer { 
    overflow: hidden; 
    border-radius: .563em .563em .563em .563em; 
    box-shadow: .063em .063em .688em #330033; 
    background: rgb(83,148,228) url("../assets/layout/newArrow.gif") no-repeat scroll 98% 0%; 
    width: 97%; padding: 0 1.5% 0 1.5%; margin: 0.61875% 0 1.2375% 0; 
  }

  select#WhenTheLightsGoDownInThe { border: none; color: rgb(11,36,68); background: transparent; font-weight: bold; padding: 0.45% .625%; width: 108.75%; -webkit-appearance: none; font-size: 71%; }

  section#sourceOut { background: transparent; width: 95%; margin: 0% 3.75% 0% 1.25%; }
} 

/* ----- 240px to 355px-----  */
@media (max-width: 355px) {
  div#disburser { margin: 0 10.909090% 0 2.727272%; width: 89.09090909%; }
  
  p.paraphrase { font: 80%/1.5; padding: 1.5% 1.5% 2.25% 4.5%; }
  
  label.leftHinge { float: none; padding: 1.25% 0 1% 0; font: 100%/1.0; }
  span.spumoni { padding: .25% 0 .25% 0; }

  div#developer { float: none; margin: 1.0em 0; padding: 0 1.5% 0 1.5%; width: 94%; }

  select#WhenTheLightsGoDownInThe { padding: .125em .625%; }
} 

/* ------------------ Responsive Design Media Queries END here  --------------    */