/* You can add global styles to this file, and also import other style files */

html { -webkit-text-size-adjust: none; }
html, body, tt, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, code, em, img, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: none; outline: none; font-size: 100%; vertical-align: baseline; background: transparent; }
a { margin: 0; padding: 0; border: none; outline: none; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; color: #000000; background: #FFFFFF; }
ol, ul { list-style: none; }
ins { text-decoration:none; background-color: #FFFF99; color: #000000; }
blockquote, q { quotes: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
img { border: none; }
mark { background-color: #FFFF99; color: #000000; font-style: italic; font-weight: bold; }
select, input, textarea, button { font: 99% sans-serif; }
input, select { vertical-align: middle; }
hr { display: block; height: 1px; border: none; border-top: 1px solid #CCCCCC; margin: 1em 0; padding: 0; }
caption, th, td, address, cite, code, dfn, em, strong, var { font-style: normal; font-weight: normal; text-align: left; }
figcaption, pre, code, kbd, samp { font-family: "Bitstream Vera Sans Mono", monospace; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
:focus { outline: none; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
legend, small, article, aside, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/*  --------- DEFAULT: 1051px (...AND UP) to 1449px and 1601px PLUS --- Normal coding BEGINS */

html { height: 100%; }
body { height: 100%; background: rgb(196,231,255); font: normal normal 100% Cambria, Georgia, serif; color: rgb(63, 120, 198); }
* { position: static; float: none; }

/*  --------- DEFAULT: 1051px to 1449px and 1601px AND UP ------- Normal coding ENDS here  */

/* ------------------ Responsive Design Media Queries START here  --------------    */

/*  ----- 768px to 1050px-----  */
@media (max-width: 1050px) {
  /* testing */
	/* body { background: chocolate; }  */
}

/*  ----- 356px to 767px-----  */
@media (max-width: 767px) {
  /* testing */
	/* body { background: crimson; }  */
} 

/*  ----- 240px to 355px-----  */
@media (max-width: 355px) {
  /* testing */
	/* body { background: darksalmon; }  */
} 

/*  ----- 1450px to 1600px ( skip this ) -----  */
@media (min-width: 1450px) and (max-width: 1600px) { 
  /* testing */
  /* body { background:deeppink; }  */
} 
/* ------------------ Responsive Design Media Queries END here  --------------    */

/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
 */