
/* $adobefontasset: 'hammersmith-one';  */

/*  --------- DEFAULT: 1051px (...AND UP) to 1449px and 1601px PLUS --- Normal coding BEGINS */
nav { padding: 0 9.5238095% 9.583327% 16.1904761%; width: 64.7619047%; }
nav:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

h1 { padding-top: 3.359375%; padding-right: 0; padding-bottom: 0%; padding-left: 0; width: 100%; background: transparent; text-align: center; }

h1 strong#Sakerutsu { position: relative; display: inline-block; font: 287.5% 'hammersmith-one'; color: rgb(232,241,250); text-align: center; margin: 0 auto 0; }
h1 strong#Sakerutsu:after { 
  display: inline;
  clear: none; 
  visibility: visible; content: 'CRA OpenWeatherMap App'; color: rgb(240,251,255); 
  text-shadow: 0 .0625em 0 rgba(113,167,234,0.8); 
}
h1 span#Santoryu { 
  position: absolute; top: 0; left: 0; 
  /* -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,1))); */
  transition: all 0.087890625s ease-out; 
  text-shadow: .0625em .0625em rgb(113,167,234), .125em .125em rgb(113,167,234), .1875em .1875em rgb(113,167,234), 0.25em 0.25em rgb(113,167,234); 
}

ul { max-width: 80%; margin: 0 auto 0 auto; text-align: center; padding: 2.5rem 0; font-family: 'hammersmith-one', sans-serif; }

li { display: inline-block; margin: 0 auto 0 auto; padding: 0 .75rem; color: rgb(4, 32, 61); }
li a { font-weight: normal; text-decoration: none; }
li a:link { 
  color: rgb(4, 32, 61); 
}
li a:visited {
  color: rgb(17, 62, 211); 
}
li a:hover {
  color: rgb(211, 88, 17); text-decoration: underline; text-decoration-color: rgb(211, 88, 17); 
}
li a:focus, li a:active {
  color: rgb(13, 22, 31); text-decoration: underline; font-weight: bold;
}
.active {
  color: rgb(13, 22, 31); text-decoration: underline; font-weight: bold;
}

/*  --------- DEFAULT: 1051px to 1449px and 1601px AND UP ------- Normal coding ENDS here  */

/* ------------------ Responsive Design Media Queries START here  --------------    */

/*  ----- 768px to 1050px-----  */
@media (max-width: 1050px) {
}

/*  ----- 356px to 767px-----  */
@media (max-width: 767px) {
  nav { padding: 0 5.454545% 9.583327% 5.454545%; width: 89.09090909%; }
  nav:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
  h1 { padding-top: 0.6796875%; padding-right: 19.387755%; padding-bottom: 0%; padding-left: 23.469388%; width: 42.857143%; background: transparent; text-align: center; }

  h1 strong#Sakerutsu { position: relative; display: inline-block; font: 197% 'hammersmith-one'; color: rgb(232,241,250); text-align: center; margin: 0 auto 0; }
  
  h1 strong#Sakerutsu:after { display: inline; clear: none; visibility: visible; content: 'CRA OpenWeatherMap App'; color: rgb(240,251,255); text-shadow: 0 .0625em 0 rgba(113,167,234,0.8);  }

  h1 strong#Sakerutsu:after { 
    display: inline;
    clear: none; 
    visibility: visible; content: 'CRA OpenWeatherMap App'; color: rgb(240,251,255); 
    text-shadow: 0 .0625em 0 rgba(113,167,234,0.8);  
  }

  h1 span#Santoryu { position: absolute; top: 0; left: 0; 
    /* -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,1))); */
  -webkit-transition: all 0.087890625s ease-out; -moz-transition: all 0.087890625s ease-out; -o-transition: all 0.087890625s ease-out; transition: all 0.087890625s ease-out; text-shadow: .0625em .0625em rgb(113,167,234), .125em .125em rgb(113,167,234), .1875em .1875em rgb(113,167,234), 0.25em 0.25em rgb(113,167,234); }
} 

/*  ----- 240px to 355px-----  */
@media (max-width: 355px) {
  h1 { padding-top: .359375em; padding-right: 19.387755%; padding-bottom: 0%; padding-left: 23.469388%; width: 42.857143%; background: transparent; text-align: center; }
  h1 strong#Sakerutsu { font: 1.2777em 'hammersmith-one'; }
  
  h1 strong#Sakerutsu:after { display: inline; clear: none; visibility: hidden; content: 'CRA OpenWeatherMap App'; color: rgb(240,251,255); text-shadow: 0 .0625em 0 rgba(113,167,234,0.8);  }

  h1 span#Santoryu { position: absolute; top: 0; left: 0; 
    /* -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,1))); */
  -webkit-transition: all 0.087890625s ease-out; -moz-transition: all 0.087890625s ease-out; -o-transition: all 0.087890625s ease-out; transition: all 0.087890625s ease-out; text-shadow: .0625em .0625em rgb(113,167,234), .125em .125em rgb(113,167,234), .1875em .1875em rgb(113,167,234), 0.25em 0.25em rgb(113,167,234); }
} 

/* ------------------ Responsive Design Media Queries END here  --------------    */